/*color: #040D12 #183D3D #5C8374 #93B1A6;*/
body{
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

header{
    box-sizing: border-box;
    display: flex;
    background-color: #040D12;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    color: #93B1A6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding: 3px;
    
    

}
.logo{
   
    margin: 5vw;

}
.search{
    display: flex;
    margin: 0;
}
.searchbar{
    background-color: #040D12;
    border: 0;
    box-shadow: 0 2px 1px #93B1A6;
    width: 15vw;
    padding: 2px;
    color: #93B1A6;
}
.searchicon{
    background-color: #040D12;
    border: 0;
}
button{
    cursor: pointer;
}
header a{
    cursor: pointer;
    color: #93B1A6;
    text-decoration: none;
    margin: 20px;
}
.headericon{
    display: flex;
    margin: 20px;
    
}
.discount{
    background-color: #183D3D;
    padding: 10px;
    color: #93B1A6;
    text-align: center;
    font-weight: 1000;
}
.slider-container {
    width: 100%;
    margin: auto;
    overflow:hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.sliderimage{
    object-fit:cover;
    width: 100vw;
}
main{
    background-color: #040D12;
    
}
.product{
    display: flex;
    background-color: #040D12;
    padding: 50px;
    
    margin-top: 5vw;
    position: relative;
    color:#93B1A6;
    align-items: center;
    justify-content:space-around;
    
}
.productimage{
    height: 25vw;
    border: 1px solid #93B1A6;
    
    position: relative;
    
}
.productimage:hover{
    transform:scale(1.05);
    border: 3px solid #93B1A6;
    box-shadow: 0 0 20px 5px #93b1a659 ;
}

.producttext{

    position: relative;
    align-items: center;
    width: 25vw;
}
.producttext:hover{
    transform: scale(1.1);
}

.buybutton{
    border: 2px solid #93B1A6;
    background-color: #040D12;
    color: #93B1A6;
    padding: 18px;
    width: 15vw;
}

.buybutton:hover{
    box-shadow: 0 0 20px 5px #93b1a659;
    color: #183D3D;
    background-color: #93B1A6;
}
